<body>
<br>
<div id="des" align="center">
  <h1 style="color:antiquewhite">User Details</h1>
  <br>
<table align="center">
  <tr>
    <td>Name</td>
    <td>:</td>
    <td>{{this.name}}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>:</td>
    <td>{{this.email}}</td>
  </tr>
  <tr>
    <td>password</td>
    <td>:</td>
    <td>{{this.password}}</td>
  </tr>
  <tr>
    <td>Date of Birth</td>
    <td>:</td>
    <td>{{this.dob}}</td>
  </tr>
  <tr>
    <td>Phone No.</td>
    <td>:</td>
    <td>{{this.phone}}</td>
  </tr>
</table>
<br><br><br>
</div>
</body>