<body>
<br>
<h1 id="des1" align="center">Details</h1>
<br>
<div id="des" align="center">
  <img src={{img}} width="300px" height="400px">
  <br><br><br>
  <table align="center">
    <tr>
      <td>Company Name</td>
      <td>:</td>
      <td>{{head}}</td>
    </tr>
    <tr>
      <td>Product Name</td>
      <td>:</td>
      <td>{{name}}</td>
    </tr>
    <tr>
      <td>Price</td>
      <td>:</td>
      <td>{{price}}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>:</td>
      <td>{{des}}</td>
    </tr>
  </table>
</div>
<br><br>
</body>