<style>
  @import url('https://fonts.googleapis.com/css?family=Poiret+One');
</style>
<body>
  <table>
    <tr>
      <td>
      <img src="http://24.media.tumblr.com/b9a5b70a8300e33150485761f419ddb0/tumblr_n4g6m1v0qn1tq47ppo1_500.gif">
      </td>
      <td>
      <div id="des1">Shopping is a bit of a relaxing hobby, which is sometimes troubling for the bank balance. 
         When you're shopping you forget about eating!
        <br><br><br>
        Where The World comes to shop... Flipdeal Clueszone.
      </div>
      </td>
  </tr>
  </table>
</body>